<a href="https://colab.research.google.com/github/Vishal01-VKP/Python-Projects/blob/master/SchoolCodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(4):
    for j in range(4):
        print("#",end="")
    print()

####
####
####
####

In [ ]:
n=1
for i in range(5):
    for j in range(5):
        if i<=j:
            print(n,end="")
            n+=1
        else:
            print(" ",end="")
    n=1
    print()

12345
 1234
  123
   12
    1

In [ ]:
for i in range(1,3):
    for j in range(1,6):
        if 3<(i+j)<3+(2*i):
            print("*",end="")
        else:
            print(" ",end="")
    print()

for i in range(1,4):
    for j in range(1,6):
        if (2*i)-1<(i+j)<7:
            print("*",end="")
        else:
            print(" ",end="")
    print()

  *
 ***
*****
 ***
  *

In [ ]:
for i in range(4):
    for j in range(4,i,-1):
        print(j,end="")
    else:
        print(" ",end="")
    print()

4321
432
43
4

In [ ]:
for i in range(5,10,4):
    for j in range(1,i,2):
        print(i,j)

5 1
5 3
9 1
9 3
9 5
9 7

In [ ]:

for i in range(5):
    for j in range(i+1):
        print("*",end="")
    else:
        print(" ",end="")
    print()

*
**
***
****
*****

In [ ]:

for i in range(5):
    for j in range(5-i):
        print("*",end="")
    else:
        print(" ",end="")
    print()

*****
****
***
**
*

In [ ]:
for i in range(1,6):
    for j in range(1,6):        
        if ((j-i) >= 0):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
 ****
  ***
   **
    *

In [ ]:
for i in range(1,6):
    for j in range(1,6):        
        if ((i+j) > 5):
            print("*",end="")
        else:
            print(" ",end="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234

In [ ]:
for i in range(1,5):
    for j in range(1,i+1):
        print(1,end="")
    print()

1
11
111
1111

In [ ]:
for i in range(1,5):
    for j in range(1,8):
        if (4+2*i) > (i+j) > 4:
            print("*",end="")
        else:
            print(" ",end="")
    print()

   *
  ***
 *****
*******

In [ ]:
for i in range(4,0,-1):
    for j in range(1,8):
        if (4+2*i) > (i+j) > 4:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*******
 *****
  ***
   *